<body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container">
  <div class="row">
    <!-- Left Blank Side -->
    <div class="col-lg-6"></div>

    <!-- Right Side Form -->
    <div class="col-lg-6 d-flex align-items-center justify-content-center right-side">
      <div class="form-2-wrapper">
        <div class="logo text-center">
          <h2>Logo</h2>
        </div>
        <h2 class="text-center mb-4">Sign Into Your Account</h2>
        <form action="#">
          <div class="mb-3 form-box">
            <input type="email" class="form-control" id="email" name="emailId" [(ngModel)]="loginObj.emailId"  placeholder="Enter Your Email" required>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="password" name="password"  [(ngModel)]="loginObj.password"  placeholder="Enter Your Password" required>
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="rememberMe">
              <label class="form-check-label" for="rememberMe">Remember me</label>
              <a href="forget-3.html" class="text-decoration-none float-end">Forget Password</a>
            </div>

          </div>
          <button type="submit" class="btn btn-outline-secondary login-btn w-100 mb-3" (click)="onLogin()">Login</button>
          <div class="social-login mb-3 type--A">
            <h5 class="text-center mb-3">Social Login</h5>
            <button class="btn btn-outline-secondary  mb-3"><i class="fa-brands fa-google text-danger"></i> Sign With Google</button>
            <button class="btn btn-outline-secondary mb-3"><i class="fa-brands fa-facebook-f text-primary"></i> Sign With Facebook</button>
          </div>
        </form>
        <p class="text-center register-test mt-3">Don't have an account? <a href="register-3.html" class="text-decoration-none">Register here</a></p>
      </div>
    </div>
  </div>
</div>
</body>